FastAPI
uvicorn
motor
numpy
sentence-transformers
google-generativeai
python-dotenv
python-multipart
pydantic-settings
pydantic
bcrypt
passlib[bcrypt]
python-jose[cryptography]
email-validator
networkx