FastAPI
uvicorn
motor
numpy
sentence-transformers
google-genai
python-dotenv
python-multipart
pydantic-settings
pydantic
bcrypt<5
passlib[bcrypt]
python-jose[cryptography]
email-validator
networkx
Pillow
scikit-learn
